<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1></h1>
<p>Welcome to </p>

<form action='/login' method='post'>

    Email:<input type="text" name="email"  />
    Password:<input type="password" name="password" />
    <input type="submit" />
</form>
</body>
</html>