<% include shared/header %>

    <h1></h1>
    <p>Register</p>

    <form action='/register' method='post'>

        Name:<input type="text" name="username"  />
        Password:<input type="password" name="password" />
        Email:<input type="text" name="email"  />
        <input type="submit" />
    </form>

<% include shared/footer %>