.container {
    padding-top: 10%;
}

#register .inner,
#login .inner{
   margin: 0 auto;
   float: none;

}

.form-input-error{
    display: inline-block;
    color: #B94A48;
    padding-top: 5px;
}
