.container {
    padding-top: 10%;
}

#register .inner,
#login .inner{
   margin: 0 auto;
   float: none;

}

#login h3{
   text-align:center;
}

#login .links a.login{
   float: left;
}

#login .links a.register{
   float: right;
}


.error-msg{
    display: inline-block;
    color: #B94A48;
    padding-top: 5px;
}

.large-error-msg {
    display: inline-block;
    color: #B94A48;
    padding-top: 5px;
    font-size: 16px;
}

.clear {
    clear: both;
}

